/* <style type="text/css">; */

/* header("Content-type: text/css; charset: UTF-8");  */

htlm, :root {
    font-size: 18px;
    box-sizing: border-box;
    color: white;
    background-color: white;
    margin: 0;
}


#title, .subtitle, .post_title {
}

/* * {
    margin: 0;
} */

body {
    background-color: #323335;
    Max-width: 900px;
    height: 100%;
    margin: auto;
    flex-direction: column;
    min-height: 100vh;

    /* grid-template-areas:
        "header_section"
        "Site-content_section"
        "footer_section";
    grid-template-rows: auto 100% 50px; */
}

header {
    dipslay: flex;
    heght: 5%;
}

figure{
    margin: 0;
    size:
}


span{
    display:inline-block;
    align-items: center;
    margin: 0;
}

h1 {
    margin: 0;
    top: -35px;
    position: relative;
}

ul {
    margin: auto;
    padding: auto;
    list-style-type: square;
}

footer {
    font-size: 25px;
    margin-top: auto;
}



.flex-container{
    /* box-sizing: content-box; */
    border: 0;
    width: 100%;
    height: 30%;
    /* border: solid black 3px; */
    padding: 5px;
    display: flex;
    
    
}

.flex-container-2{
    width: 100%;
    display: flex;

}
    
.flex-child{
    box-sizing: content-box;
    width: 30%;
    margin: 0 auto;
    height: auto; 
    padding: 5px;
    overflow: auto;

}

.flex-child-2{
    box-sizing: content-box;
    width: 100%;
    height: auto;
    padding: 5px;
    overflow: auto;

}



.button {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px
}

.small-btn {
    width: 50px;
    height: 25px;
}

.medium-btn {
    width: 70px;
    height: 30px;
}

.big-btn {
    width: 90px;
    height: 40px;
}

#profile-pic {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 1em;
    margin-left: 10px;
    outline: 3px solid green;
}

#start-page {
    background-image: url(../../imgs/code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#title {
    font-size: 50px;
    width:100%;
    margin-left: 360px;
    margin-top: 1px;
}

</style>