:root {
    /* Colors */
    --main-bg-color: #fff;
    --main-text-color: #fff;
    --main--body-color: #303030;
    --main-grey-color: #ccc;

}

html {
    font-size: 18px;
    box-sizing: border-box;
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    margin: 0;
}

body {
    background-color: var(--main--body-color);
    Max-width: 900px;
    height: 100%;
    margin: auto;
    flex-direction: column;
    min-height: 100vh;
}

span{
    display:inline-block;
    align-items: center;
    margin: 0;
}

ul {
    margin: auto;
    padding: auto;
    list-style-type: square;
}

footer {
    font-size: 25px;
    margin-top: auto;
}

#menu {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 900px;
    align-self: center;
    
    display: flex;
    height: 125px;
    align-items: center;

    background-image: url(../../imgs/code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999;
}

header {
    position: relative;
    display: flex;
    height: 125px;
    align-items: center;

}

figure{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: left;
    
}

#profile-pic {
    position: absolute;
    bottom: 15%;

    width: 100px;
    height: 100px;
    
    overflow: hidden;
    border-radius: 50%;
    margin-top: 1em;
    margin-left: 10px;

    outline: 3px solid green;
}

#title {
    position: relative;

    left: 60%;
    font-size: 40px;
    width:100%;
}

#subtitle {
    margin-top: 1.5em;
    width: 15em;
}


#btn-menu {
    position: absolute;
    bottom: 0;
    right: 2%;
    align-items: bottom;
   
}

#init-container {
    padding-top: 80px;
}


.flex-container{
    /* box-sizing: content-box; */
    border: 0;
    width: 100%;
    height: 30%;
    /* border: solid black 3px; */
    padding: 5px;
    display: flex;
    
    
}

.flex-container-2{
    width: 100%;
    display: flex;

}
    
.flex-child{
    box-sizing: content-box;
    width: 30%;
    margin: 0 auto;
    flex-basis: auto;
    padding: 5px;
    overflow: auto;

}

.flex-child-2{
    box-sizing: content-box;
    width: 100%;
    height: auto;
    padding: 5px;
    overflow: auto;

}



.button {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px
}

.small-btn {
    width: 50px;
    height: 25px;
}

.medium-btn {
    width: 70px;
    height: 30px;
}

.big-btn {
    width: 90px;
    height: 40px;
}

.modal {
    display: none; /* não exibe o modal*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0,0 0, 0.5)
}

.modal-content{
    background-color: lightslategray;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}